{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup form</title>
    <link rel="stylesheet" href="{% static '/css/signup.css'%}" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="form sign-in-form">
          <div class="wrapper">
            <form action="#">
              <h1>sign in</h1>
              <p>use your email and password to sign in</p>
              <input type="email" placeholder="email" />
              <input type="password" placeholder="password" />
              <button type="submit">Sign In</button>
            </form>
          </div>
        </div>
        <div class="form sign-up-form active">
            
          <div class="wrapper">
            <form action="#">
              <h1>Sign Up</h1>
              <p>please, provide all details to create an account</p>
              <input type="text" placeholder="Full Name" />
              <input type="email" placeholder="email" />
              <input type="password" placeholder="password" />
              <button type="submit">Sign Up</button>
            </form>
          </div>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-left">
              <h1>Welcome</h1>
              <p>or</p>
              <button id="signInButton">Log in</button>
            </div>
            <div class="overlay-right">
              <h1>Welcome back</h1>
              <p>or</p>
              <button id="signUpButton">Create an account</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/overlay-sign-up/main.js"></script>
  </body>
</html>
