{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About US page</title>
    <link rel="stylesheet" href=" {% static 'css/about.css' %}" />
  </head>
  <body>
    <!-----about section start---->
   
    <section>
      <div class="grid">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/images/doc.jpg" alt="" />
            <div class="card-content">
              <h1 class="card-header">Improved access to care</h1>

              <p class="card-text">
                The app enables patients who face language barriers to seek
                medical attention and receive the care they need, improving
                access to care and reducing health disparities.
              </p>
              <button class="card-btn">MORE<span>&rarr;</span></button>
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/images/translate.webp" alt="" />
            <div class="card-content">
              <h1 class="card-header">Increased Satisfaction</h1>

              <p class="card-text">
                The app empowers patients by enabling them to communicate their
                health concerns effectively and participate actively in their
                care, increasing patient satisfaction and trust.
              </p>
              <button class="card-btn">MORE<span>&rarr;</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/images/getty.jpg" alt="" />
            <div class="card-content">
              <h1 class="card-header">Enhanced quality of care</h1>

              <p class="card-text">
                The app enables healthcare professionals to communicate
                effectively with their patients, reducing the risk of medical
                errors and improving patient outcomes.
              </p>
              <button class="card-btn">MORE<span>&rarr;</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="text/javascript">
      // header sticky
      window.addEventListener("scroll", function(){
        var header= document.querySelector("header");
        header.classList.toggle("sticky" , window.scrollY >0);
      })
    </script>
  </body>
</html>
